@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  max-width: 100%;
  color: white;
  background-color:rgb(0, 0, 0) ;
}



header ,main{
  max-width: 1060px;
  margin: 0px auto;
  background: rgb(17, 17, 17);
}

/* Navbar styles  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul{
  display: flex;
  justify-content:space-between;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

nav ul li{
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.23rem;
  font-weight: 400;
  border: none;
}

nav ul li:hover{
  background-color: rgb(230, 83, 60);
  font-weight: 600;
}
nav ul li a{
  text-decoration: none;
  color: white;
}

.nav-title{
  font-size: 2.2rem;
  color: rgb(230, 83, 60);
  font-style: italic;
}

.menu-bar{
  display: none;
}

/* Banner  */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;

}
.banner-title{
color: rgb(255, 255, 255);
font-size: 78px;
font-weight: 900;
}

.banner-des{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
margin: 30px 0px;
}

.btn-primary,
.btn-transparent{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border: none;
border-radius: 42px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
}
.btn-transparent{
background-color:transparent;
border: 1px solid white;
margin-left: 20px;
}


/* Habit */
.habit-section{
  text-align: center;
}

.habit-card{
  max-width: 240px;
}

.habit-card img{
  border-radius: 50%;
}

.habit-card h4{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}
.habit-card p{
  color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}

.habit-card-container{
  display: flex;
  justify-content: space-between;
}

/* Run  */
.run{
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 80px auto;
}

.run img{
  max-width: 400px;
  border-radius: 20px;
}


.r-des{
  max-width: 350px;
  margin: 20px 0px;
}


/* Training  */
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  width: 100%;
  max-width: 1060px;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#Training-section2{
  display: none;
}

/* Team  */
.team{
  margin: 80px auto;
  border-radius: 20px;
}
.team-header{
  margin:0px auto ;
  text-align: center;
  max-width: 85%;
}

.trainers{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.img-container{
  position: relative;
  width: 100%;
  height: auto;
}

.img-container img {
 width: 330px;
 height: 272px;
  display: block;
  border-radius: 8px;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  font-size: 16px; 
}


footer{
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.wrapper{
  max-width: 1060px;
  margin: 30px auto;
  padding: 100px 0px;
}

.f-des{
  max-width: 300px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
}

.f-title{
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}

.div2 p, .div3 p{
color: rgba(255, 255, 255, 0.5);
font-size: 23px;
font-weight: 400;
margin-top: 15px;
}

.hr{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
}

.copyright{
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}






/* Responsive for mobile ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width:576px) {
/* navbar */
.nav-links{
  display: none;
}

.menu-bar{
  display: block;
  color: white;
  font-size: 40px;
}

/* banner  */
.banner{
  flex-direction: column;
}

.banner-title{
font-size: 36px;
}
.banner-des{
  width: 80%;
}

.banner img{
  padding: 30px;
}

/* Habit  */

.habit-card-container{
  flex-direction: column;
  align-items: center;
  
}


/* Run  */
.run{
  flex-direction: column;
}
.run-text-content button {
  width: 90%;
  margin: 30px auto;
}

.run img{
  width: 100%;
  margin: 10px auto;
}

/* Trainning  */
#Training-section2{
  display: block;
}
#Training-section1{
  display: none;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  width: 100%;
  max-width: 1060px;
}

/* Team  */
.trainers{
  grid-template-columns: repeat(1, 1fr);
  margin: 0px auto;
}

/* Footer  */
.footer-content{
  flex-direction: column;
  margin-left: 20px;
  gap: 30px;
}

}