@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

header, main{
  max-width: 1060px;
  margin: 0px auto;
  background: rgb(17, 17, 17);
}

/* Navbar styles  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul{
  display: flex;
  justify-content:space-between;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

nav ul li{
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.23rem;
  font-weight: 400;
  border: none;
}

nav ul li:hover{
  background-color: rgb(230, 83, 60);
  font-weight: 600;
}
nav ul li a{
  text-decoration: none;
  color: white;
}

.nav-title{
  font-size: 2.2rem;
  color: rgb(230, 83, 60);
  font-style: italic;
}

.menu-bar{
  display: none;
}

/* Banner  */
.banner{
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  margin: 60px 0px;

}
.banner-title{
color: rgb(255, 255, 255);
font-size: 78px;
font-weight: 900;
}

.banner-des{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
margin: 30px 0px;
}



.btn-primary,
.btn-transparent{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border: none;
border-radius: 42px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
}
.btn-transparent{
background-color:transparent;
border: 1px solid white;
margin-left: 20px;
}




/* Responsive for mobile  */

@media screen and (max-width:576px) {
/* navbar */
.nav-links{
  display: none;
}

.menu-bar{
  display: block;
  color: white;
  font-size: 40px;
}

/* navbar */
.banner{
  flex-direction: column;
}

.banner-title{
font-size: 36px;
}
.banner-des{
  width: 80%;
}

.banner img{
  padding: 30px;
}


}






